<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{ chatroom }} - group gchat</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>
<body>

<div id="sidePanel">
  <h1 id="chatroom">{{ chatroom }}</h1>
  <a class="toBottom" onclick="scrollToBottom();">to bottom</a> | <i onclick="toggleSound();" id="soundIcon" class="fa fa-volume-up"></i><br><br>
  <span id="connectedUsersLabel">Connected Users</span><br>
  <div id="connectedUsers">
    {% for connection in connections %}
      {{ connection.user.nickname() }}<br>
    {% endfor %}
  </div>
</div>

<table id="chatsBiggerContainer"><tr><td id="hi">
  <table id="chatsContainer">
    {% for chat in chats %}
      <tr>
        <td class="author">{{ chat.author.nickname() }}</td>
        <td class="content">{{ chat.content }}</td>
      </tr>
    {% endfor %}
  </table>
</td></tr></table>

<div id="inputContainer">
	<input autocomplete="off" id="chatInput" type="text" name="content"></input>
</div>

<audio id="dingSound" src="media/ding.wav" preload="auto"></audio>

<script src="/_ah/channel/jsapi"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/autolinker.js"></script>
<script src="/js/titlealert.js"></script>
<script src="/js/soundqueue.js"></script>

<script>
window.glob = {
  sound: true,
  token: '{{ token }}',
  userNickname: '{{ user.nickname() }}',
  chatroom: '{{ chatroom }}',
};
</script>

<script src="/js/main.js"></script>

</body>
</html>
{% endautoescape %}
