<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ chatroom }} - group gchat</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

</head>
<body>
<center>
  
<div id="sidePanel">
  <h1 id="chatroom">{{ chatroom }}</h1>
  <a class="toBottom" onclick="window.scrollTo(0,document.body.scrollHeight);">to bottom</a><br><br>
  <b>Connected Users</b><br>
  {% for connection in connections %}
    {{ connection.user.nickname() }}<br>
  {% endfor %}
</div>

<table id="chatsContainer">
  {% for chat in chats %}
    <tr>
      <td class="author">{{ chat.author.nickname() }}</td>
      <td class="content">{{ chat.content }}</td>
    </tr>
  {% endfor %}
</table>

<div id="inputContainer">
	<input autocomplete="off" id="chatInput" type="text" name="content"></input>
</div>

<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/autolinker.js"></script>
<script type="text/javascript" src="/js/titlealert.js"></script>

<script>

createUID = function(){
  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, 
    function(c) {var r = Math.random()*16|0,v=c=='x'?r:r&0x3|0x8;return v.toString(16);});
};

scrollToTop = function(){
  window.scrollTo(0,document.body.scrollHeight);
};

turnLinksBlue = function(element){
  element.html(Autolinker.link(element.html()));
};

makeChatroomsLinkable = function(element){
  var patt = /(^\/|\s\/)\w+/ig;
  element.html(element.html().replace(patt,function(match){
    console.log(match);
    return "<a href='http://groupgchat.appspot.com" + match + "'>" + match + "</a>";
  }));
};

channel = new goog.appengine.Channel('{{ token }}');
socket = channel.open();
socket.onmessage = function(data){
  obj = JSON.parse(data.data);
  uid = createUID();

  $('#chatsContainer').append("<tr id="+uid+"><td class='author'>" 
    + obj.author + "</td><td class='content'>" + obj.content + "</td></tr>");

  scrollToTop();
  turnLinksBlue($('#'+uid));
  makeChatroomsLinkable($('#'+uid+' td:nth-child(2)'));

  $.titleAlert("New Message From " + obj.author, {requireBlur:true, stopOnFocus:true, duration:10000, interval:500});
};

$('#chatInput').keydown(function(event){
  var code = event.keyCode || event.which;
  if(code == 13) { // Enter keycode
    event.preventDefault();
    userInput = $('#chatInput').val();
    $('#chatInput').val('');
    $.post("/chatpost", {content: userInput, chatroom: '{{ chatroom }}'});
  }
});

$(function() {
    $('#chatInput').focus();
    $(window).focus(function(){$('#chatInput').focus();});
    scrollToTop();
});

</script>

</body>
</html>
{% endautoescape %}
